body{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    background-color: rgb(196, 192, 192);
}
.container1{
    width: 100vw;
    min-height: 15px;
    display: flex;
    justify-content: center;
}
.cabecera
{
    width: 90vw;
    min-height: 6rem;
    background-color: #333;
    color: red;
    padding: .1rem;
}

.menu
{
    display: flex;
    margin: 1rem ;
}
h4
{
    margin: 0 1rem;
}
.sub
{
    display: flex;
    color: white;
}
h5{
    margin: 0 1rem;
}
.container2{
    width: 100vw;
    min-height: 15px;
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
}

.post 
{
    width: 80vw;

}
.post p{
    color:#333;
    font-size: 16px;
    text-align: justify;
}